/* -----------------
Tabla de contenidos:
--------------------
1. Fuente ................ 11
2. Variables ............. 17
3. Estilos generales ..... 32
-------------------- 
*/

@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

* {
  --red-font: "Red Hat Display", sans-serif;
  /* ----- Variables ----- */
  /* ### Colores primarios */
  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);

  /* ### Colores neutrales */
  --very-pale-blue: hsl(225, 100%, 98%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);
  --white: hsl(0, 0%, 100%);
  /* ----------------------------- */
  /* ----- Estilos generales ----- */
  /* ----------------------------- */
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--red-font);
  background-image: url(../images/pattern-background-desktop.svg);
  background-repeat: none;
  background-size: cover;
  color: var(--dark-blue);
}

.box {
  display: flex;
  flex-direction: column;
  max-width: 450px;
  background-color: var(--white);
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 20px 20px hsla(224, 23%, 55%, 0.226);
}
.image-box {
  width: 100%;
}
.image-box > img {
  width: 100%;
}
.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  margin-top: 40px;
  text-align: center;
  font-weight: 900;
  font-size: 1.7rem;
  margin-bottom: 0px;
}
.description {
  width: 80%;
  text-align: center;
  line-height: 1.7rem;
  color: var(--desaturated-blue);
  margin-top: 15px;
}
.box-1 {
  display: flex;
  width: 70%;
  height: 100%;
  align-items: center;
  background-color: var(--very-pale-blue);
  border-radius: 10px;
  margin-bottom: 30px;
  padding: 5%;
}
.price {
  margin-left: 20px;
  display: flex;
  height: 48px;
  flex-direction: column;
  justify-content: space-between;
}
h4 {
  margin: 0px;
  font-weight: 900;
  font-size: 1.05rem;
}
.price > p {
  margin: 0px;
  font-size: 1.1rem;
  color: var(--desaturated-blue);
}
.box-1 > p {
  margin-left: auto;
  color: hsl(263, 95%, 57%);
  font-weight: 900;
  text-decoration: underline;
  font-size: 0.9rem;
}
.box-1 > p:hover {
  text-decoration: none;
  cursor: pointer;
}
button {
  display: block;
  font-family: var(--red-font);
}
.pay {
  width: 80%;
  padding: 15px;
  color: var(--white);
  background-color: var(--bright-blue);
  border: none;
  border-radius: 10px;
  font-weight: 900;
  margin-bottom: 30px;
  box-shadow: 0px 20px 20px hsla(224, 23%, 55%, 0.39);
}
.pay:hover {
  background-color: hsl(263, 95%, 57%);
  cursor: pointer;
}
.cancel {
  border: none;
  background: none;
  font-weight: 900;
  color: var(--desaturated-blue);
  margin-bottom: 50px;
}

.cancel:hover {
  cursor: pointer;
  color: var(--dark-blue);
}

@media screen and (max-width: 550px) {
  body {
    background-image: url(../images/pattern-background-mobile.svg);
    height: 100vh;
  }
  .box {
    width: 350px;
  }
  h1 {
    font-size: 1.5rem;
    margin-top: 9%;
    font-weight: 900;
  }
  .description {
    width: 78%;
    font-size: 1rem;
  }
  .box-1 {
    width: 75%;
    margin-bottom: 7%;
  }
  .pay {
    width: 85%;
  }
  .cancel {
    margin-bottom: 10%;
  }
}
